<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About Sarah Tursi, LCSW</h1>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="img/portrait.jpeg">
        </div>
        <div class="col-md-6">
            <p>Sarah Tursi is a Licensed Clinical Social Worker in the Commonwealth of Virginia. She was awarded her Master of Social Work from Smith College. Sarah provides therapy and short-term crisis counseling to adolescents, adults, couples, and families as well as crisis therapy for schools, businesses, and corporations. Sarah offers tailored, comprehensive therapy for patients through in-office sessions as well as via phone calls and on-site interventions.</p>
            <div class="row">
                <div  style="padding-top:20px;align-items: center;">
                    <div style="display:inline-block;">
                        <a href="https://www.linkedin.com/in/sarahtursi" target="_blank">
                            <img class="img-responsive" src="img/icons8-linkedin-96.png" alt="..." class="linkedin">
                        </a>
                    </div>
                    <div style="display:inline-block;">
                        <a href="https://www.facebook.com/sarahtursilcsw/" target="_blank">
                            <img class="img-responsive" src="img/icons8-facebook-f-96.png" alt="..." class="facebook">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">International Experience</h5>
                            <p class="card-text">Sarah provided authorized therapy services for diplomats and their family members through a U.S. Embassy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Author</h5>
                            <p>Sarah co-authored the best-selling InVitro Fertilization guide: <i>IVF: The Wayward Stork</i>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Public Speaker</h5>
                            <p>Sarah has spoken at numerous Fortune 500 companies from the board room to national conventions.</p>                    
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">TV/Radio Personality</h5>
                            <p>Sarah has been a guest on both talk radio and television.</p>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
