<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact</h1>
        </div>

        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <h3 class="title">Office Location:</h3>  
            <h3><a class="link" href="https://goo.gl/maps/X4jQ1ue4Ba32"><i>1360 Beverly Road<br>Suite 204<br>McLean, VA 22101</i></a></h3>
              
            <h3 class="title">Phone:</h3>
            <h3>703-772-1668</h3>
            <h3 class="title">Email: </h3><h3><a class="link" href="mailto:sarahtursilcsw@gmail.com?subject=New Appointment"><i>sarahtursilcsw@gmail.com</i></a></h3>
          </div>
          <div class="col-md-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.450591866656!2d-77.18083238529769!3d38.93653335224256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b55bc1a98893%3A0x2a17da58409bda8e!2s1360+Beverly+Rd%2C+McLean%2C+VA+22101!5e0!3m2!1sen!2sus!4v1495381374192" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->