<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="home">Concierge Therapy</h2>
                <h4 class="home">Completely confidential, flexible, and customized to you.</h4>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <p>Your time is valuable, and your needs are time sensitive. Because your status, lifestyle, or employment inhibits your access to traditional therapy services; concierge therapy is for you.</p>
            <p>Sarah Tursi, Licensed Clinical Social Worker, provides VIP concierge counseling to the most distinguished professionals. Her discreet appointment options and no insurance records ensure your privacy. For traveling or out-of-state patients, phone sessions and flexible scheduling are available. Sarah also provides on-call, in-home, and mobile therapy allowing you to be out of the public eye while privately managing your therapeutic needs.</p>
            <br>
            <p>Additionally, Sarah offers college planning packages that focus on the most critical areas of concern for high school students seeking to achieve the best they can be. She helps students focus their energy, maximize success, and build strong relationships both at home and at school.</p>
            <br>
            <hr width="75%">

        </div>
        <!-- /.row -->

        <div class="row">
            <div class="jumbotron">
                <div class="col-sm-4">
                    <h1>Hours</h1>
                </div>
                <div class="col-md-8">
                    <h3 class="center"><strong>Intake Sessions</strong></h3>
                <p class="center">Intake sessions are scheduled between 9:00 a.m. and 2:00 p.m. Monday through Friday.</p>
                <p class="center">After-hour intake sessions are available for an additional fee.</p>
            <h3 class="center"><strong>Established Patients</strong></h3>
                <p class="center">Established patients will have 24/7 access to support services via text, phone, or on-site support.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
