<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Services</h1>
        </div>

    </div>
    <!-- /.row -->

    <!-- <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div> -->
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <!-- <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">Our Premium Services</h2>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>

        <div class="col-md-4">
            <h2 class="page-header">Something More</h2>

            <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips
                amets.</p>
            <a class="btn btn-primary" href="#">Click Me!</a>
        </div>

    </div> -->
    <!-- /.row -->

    <!-- Service Tabs -->

    <div class="row">

        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#service-one" role="tab" aria-controls="home" aria-selected="true">Concierge Therapy</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#service-two" role="tab" aria-controls="profile" aria-selected="false">Transition to Adulthood</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#service-three" role="tab" aria-controls="contact" aria-selected="false">Service Three</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="service-one" role="tabpanel" aria-labelledby="home-tab">
                    <i class="fa fa-gear pull-left fa-4x"></i>

                    <h1>Concierge Therapy</h1>
                    <p>You need support and guidance to navigate difficult times in your life - discreetly. Whether you're experiencing familial conflict, a relationship breakup, or a job termination, Sarah offers convenient, time-sensitive, services tailored to suit your privacy needs.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Services:</h2>
                                <ul>
                                    <li>Cognitive Behavioral Therapy</li>
                                    <li>Psychodynamic Therapy</li>
                                    <li>Trauma-focused Therapy</li>
                                    <li>Couples Therapy</li>
                                    <li>Family Therapy</li>
                                    <li>Life Transition Therapy</li>
                                    <li>College Planning</li>
                                </ul>
                        </div>
                        <div class="col-md-6">
                            <h2>Specialties:</h2>
                            <ul>
                                <li>Depression</li>
                                <li>Anxiety</li>
                                <li>Relationship Issues</li>
                                <li>Trauma/Victimization</li>
                                <li>Post-Traumatic Stress Disorder</li>
                                <li>Motivation</li>
                                <li>General Stress</li>
                                <li>Major Life Changes</li>
                                <li>Grief</li>
                                <li>Job Loss</li>
                                <li>Adoption</li>
                                <li>Infertility</li>
                            </ul>
                        </div>
                    </div> 
                </div>
                <div class="tab-pane fade" id="service-two" role="tabpanel" aria-labelledby="profile-tab">
                    <i class="fa fa-gears pull-left fa-4x"></i>

                    <i id="adult"></i>
                    <h1 class="search">Transition to Adulthood</h1>
                    <p>Turning 18 marks the onset of adult responsibility. For many young adults, this onset is delayed until college graduation and sometimes long after. Every new adult faces challenges in setting the foundation for their independent life. Issues with relationships, emancipation, and financial independence can create anxiety and tension that can be resolved with the support of a therapist.
                    <p>Sarah will reason through life goals and transitions to help establish strategies for a strong adult foundation.</p>
                </div>
                <div class="tab-pane fade" id="service-three" role="tabpanel" aria-labelledby="contact-tab">
                    <i class="fa fa-gears pull-left fa-4x"></i>

                    <i id="adult"></i>
                    <h1 class="search">Service Three</h1>
                    <p>ipsum lorem</p>
                </div>
              </div>
            <!-- <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#service-one" data-toggle="tab">Concierge Therapy</a>
                </li>
                <li><a href="#service-two" data-toggle="tab">Transition to Adulthood</a>
                </li>
                <li><a href="#service-three" data-toggle="tab">Service Three</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="service-one">
                    <i class="fa fa-gear pull-left fa-4x"></i>

                    <h1>Concierge Therapy</h1>
                    <p>You need support and guidance to navigate difficult times in your life - discreetly. Whether you're experiencing familial conflict, a relationship breakup, or a job termination, Sarah offers convenient, time-sensitive, services tailored to suit your privacy needs.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Services:</h2>
                                <ul>
                                    <li>Cognitive Behavioral Therapy</li>
                                    <li>Psychodynamic Therapy</li>
                                    <li>Trauma-focused Therapy</li>
                                    <li>Couples Therapy</li>
                                    <li>Family Therapy</li>
                                    <li>Life Transition Therapy</li>
                                    <li>College Planning</li>
                                </ul>
                        </div>
                        <div class="col-md-6">
                            <h2>Specialties:</h2>
                            <ul>
                                <li>Depression</li>
                                <li>Anxiety</li>
                                <li>Relationship Issues</li>
                                <li>Trauma/Victimization</li>
                                <li>Post-Traumatic Stress Disorder</li>
                                <li>Motivation</li>
                                <li>General Stress</li>
                                <li>Major Life Changes</li>
                                <li>Grief</li>
                                <li>Job Loss</li>
                                <li>Adoption</li>
                                <li>Infertility</li>
                            </ul>
                        </div>
                    </div> 
                    <hr>
                </div>
                <div class="tab-pane fade" id="service-two">
                    <i class="fa fa-gears pull-left fa-4x"></i>

                    <i id="adult"></i>
                    <h1 class="search">Transition to Adulthood</h1>
                    <p>Turning 18 marks the onset of adult responsibility. For many young adults, this onset is delayed until college graduation and sometimes long after. Every new adult faces challenges in setting the foundation for their independent life. Issues with relationships, emancipation, and financial independence can create anxiety and tension that can be resolved with the support of a therapist.
                    <p>Sarah will reason through life goals and transitions to help establish strategies for a strong adult foundation.</p>
                </div>
                <div class="tab-pane fade" id="service-three">
                    <i class="fa fa-magic pull-left fa-4x"></i>

                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in
                        varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non
                        convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus
                        mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis
                        egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur
                        sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis
                        ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum
                        dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui
                        ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.
                        Pellentesque quis tristique eros, sed rutrum mauris.</p>
                </div>
            </div> -->
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
